<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: 1000px; background-color: #44484b;">
  <div class="container" >
        
            <div class="skillsStyling" style="font-weight: 900; font-size: medium; color: #FFFFFF; margin-top: 8%;">Skills   |</div>
            <div class="row" style="margin-top: 2%;">
            <div class="col-md-4 col-sm-6">
                <div class="progress lavendar">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Java</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">CPP</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">HTML&CSS</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10%;">    
            <div class="col-md-6 col-sm-6" >
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">SQL</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="progress red">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Angular</div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>